@using GameStore.Models
@using GameStore.Shared.Components
@using GameStore.Shared.Navigation
@using Microsoft.AspNetCore.Authorization
@attribute [Route(PageRoute.Game)]
@attribute [Authorize]

<PageView Title="Game Catalog">
    <CommonGrid Items="games">
        <ActionHeader>
            <div class="row mb-4">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" @onclick="@CreateGame">New Game</button>
                </div>
            </div>
            <DeleteGame Game="@currentGame" @bind-IsClosing="@IsModalClosing"/>
        </ActionHeader>
        <Header>
            <th>ID</th>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
        </Header>
        <Row Context="rowContext">
            <td>@rowContext.Id</td>
            <td>@rowContext.Name</td>
            <td>@GenreDictionary.GenreDescriptionString(rowContext.Genre)</td>
            <td>@rowContext.Price</td>
            <td>@rowContext.ReleaseDate.ToString("MM/dd/yyyy")</td>
            <td style="white-space: nowrap">
                <button class="btn btn-primary" @onclick="() => EditGame(rowContext.Id)">
                    <i class="oui--pencil"></i>
                </button>
                <button class="btn btn-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteModal"
                        @onclick="() => currentGame = rowContext">
                    <i class="oui--eraser"></i>
                </button>
            </td>
        </Row>
    </CommonGrid>
</PageView>